* {
    margin: 0;
    padding: 0;

    font-size: 26px;
}

html {
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, sans-serif;
    scroll-behavior: smooth;
}


.banner {
    height: 100vh;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(/src/assets/bannerBg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.inner {
    max-width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: rgb(255, 255, 255);
}

.banner h1 {
    font-size: 60px;
    margin: 0.5em;
}

.example {
    color: black;
}

.search {
    padding: 3em;
}

/* -------------- ERROR-MESSAGE STYLE -------------*/

.error {
    max-width: 20rem;
    margin: 0 auto;
    padding: 0 3rem;

    display: block;
    text-align: center;
}

.error p {
    margin-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

/* -------------- COUNTRIES --------------- */

.country {
    margin-bottom: 2em;
}