name: CI/CD

# workflow triggers
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-build:
    name: Test & Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
    - name: Install dependencies
      run: npm ci
    - name: Runing the test
      run: npm run test
    - name: Runing the build
      run: npm run build
      env: 
        VITE_APP_PUBLIC_URL: /example-react-cicd2/
    - name: Uploading build files
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/upload-artifact@v2
      with:
        name: artifact
        path: ./dist
        

    # TODO: Complete the steps in CICD.md
